/files/FileClass/target/
/files/fileClass/target/
/files/theFileClass/target/
/files/createWriteReadTextFile/target/
/files/contactBook/target/
/files/binaryFile/target/
/files/AthleteCompetitionInBinary/target/
